*, *::before, *::after{
  box-sizing: border-box;
}
:root {
  --primary-btn: linear-gradient(0deg, #F37352, #EE326C);
  --secundary-btn: linear-gradient(0deg, #529af3, #32d5ee);
  --modal-form-bg: #383535;
  --text-white: #f1f1f1;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  /* background-color: bisque; */
  color: black;
  background-color:rgb(117, 123, 129);
  /* background-color: hsl(0, 6%, 87%); */
  /* background-image: linear-gradient(rgb(95, 91, 91),hsl(0, 82%, 19%)); */
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: rgb(185, 181, 181);
}

.nav-container{
  background-color: #f8f5f5;
}

.dropdown-menu {
  /* min-width: 130px; */
  margin-left: -30px;
  text-align: left;
}

.img-header-dropdown {
  min-width: 100px;
  margin-left: -20px;
  text-align: center;

}

.landing-container {
}

.header {
  --bg-image: url("../public/images/house-unsplash.jpeg");
  --bg-image-opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  margin: 0 auto;
  position: relative;
  isolation: isolate;
}

.header::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: var(--bg-image-opacity);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.header-button {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.my-button {
  /* margin: 0 1em; */
  /* border: 1px solid ; */
  /* border-radius: .6em; */
  padding: 0.7em 7.5em;
  /* margin-left: 20px; */
  cursor: pointer;
  background: none;
  color: #fff;
  /* border-right: 1px solid rgba(0, 0, 0, 0.607); */
  /* border-left: 1px solid rgba(0, 0, 0, 0.607); */
}

.header-left {
  position: relative;
}

.header-left .inputwrapper {
  display: none;
}

.header-left h1 {
  color: white;
  text-align: center;
}
/* //////////search-input//////////////// */

.search-form-wrapper {
  margin-top: 2rem;
  width: 550px;
  /* Add other positioning styles here if needed */
}
/* changing size of search form */
.small-search-form {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  /* width: 700px; */
  /* display: flex;
  align-items: center; */

  background-color: #000;
}

.search-input-wrapper {
  position: relative;
  margin-right: 1rem;
  display: flex;
  background-color: rgb(185, 192, 192);
}

.search-input {
  width: 100%;
}
.small-search-form .search-input {
  width: 30%;
}

.input-search {
  width: 100%;
  padding: 0.8em 1.5em;
  border: 1px solid #ccc;
  border-radius: 1.6em;
  margin-bottom: 0.3em;
  position: relative;
}
/* .small-search-form .input-search {
  width: 100%;
  padding: 0.8em 1.5em;
  border: 1px solid #ccc;
  border-radius: 1.6em;
  margin-bottom: 0.3em;
  position: relative;
} */

.input-search::-webkit-search-cancel-button {
  display: none;
}

.submit-search {
  position: absolute;
  top: 0.6em;
  right: 0.9em;
  background: none;
  border: none;
  font-size: 1.3em;
}
.submit-magnifier {
  position: absolute;
  top: 0.6em;
  left: 18em;
  background: none;
  border: none;
  font-size: 1.3em;
}

.dropDown-search {
  list-style-type: none;
  padding: 0 0.5em;
  margin: 0.3em 0.5em;
  position: absolute;
  /* top: 100%;  */
  /* left: 0; */
  background-color: #ffffffa9;
  width: 96%;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 0.6em;
  /* z-index: 1; */
  max-height: 300px;
  overflow-y: scroll;
  max-height: 150px;
  overflow-y: scroll;
}
.dropDown-search-small {
  list-style-type: none;
  padding: 0 0.5em;
  margin: 0.3em 0.5em;
  position: absolute;
  /* top: 100%;  */
  /* left: 0; */
  background-color: #ffffffa9;
  width: 28%;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 0.6em;
  /* z-index: 1; */
  max-height: 300px;
  overflow-y: scroll;
  max-height: 150px;
  overflow-y: scroll;
}

.container-houses .dropDown-search {
  list-style-type: none;
  padding: 0 0.5em;
  margin: 0.3em 0.5em;
  position: absolute;
  /* top: 100%;  */
  /* left: 0; */
  background-color: #ffffffa9;
  width: 96%;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 0.6em;
  z-index: 1;
  max-height: 300px;
  overflow-y: scroll;
  max-height: 150px;
  overflow-y: scroll;
}

.container-houses .dropDown-search-small {
  list-style-type: none;
  padding: 0 0.5em;
  margin: 0.3em 0.5em;
  position: absolute;
  /* top: 100%;  */
  /* left: 0; */
  background-color: #ffffffa9;
  width: 29%;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 0.6em;
  z-index: 1;
  max-height: 300px;
  overflow-y: scroll;
  max-height: 150px;
  overflow-y: scroll;
}

.search-list {
  padding: 0.5em;
  cursor: pointer;
  /* height: 2rem; */
  border-bottom: 1px solid #0c0a0a40;
}

.search-list:last-child {
  /* border-bottom: none; */
  margin: 0;
}

.search-list-wrapper:hover {
  /* background-color: rgb(161, 145, 145); */
  border-radius: 1em;
  background-color: rgba(85, 84, 82, 0.755);
  transition-duration: 1s;
}

/* //////////////////////////////Profile-Page////////////////////// */

.profile-container {
  margin-top:100px; 
  margin-left:20px;
}

.profile-header{
  display:flex;
  align-items:center;
  justify-content:center
}

.profile-picture{
  display:flex; 
  flex-direction:column;
  align-items:center;
  /* position:"relative" */
}

.profile-picture > img{
  max-width:200px;
  border-radius:50%;
}

.profile-picture > button{
  width:100px;
  padding:5px 5px;
  margin:5px 0
}

.profile-username{
  padding-left:60px; 
  position:absolute;
  top:50%;
  right:50%;
  left:46%;
  text-align:"center";
}

.profile-details-wrapper{
  width:1200px; 
  min-height:600px; 
  background-color:whitesmoke; 
  margin:0 auto; 
  border-top-left-radius:50%; 
  border-top-right-radius:50%
}

.profile-info{
  padding-top:260px; 
  display:flex;
  margin-left:30px;
}

.profile-options{
  min-height: 300px;
  background-color: #ccc;
  padding-right:30px;
  text-align: center;
}

.profile-to-display{
  margin-left:50px
}

/* ////////////////////////filter-forms////////////// */

.filter-wrapper {
  display: flex;
  margin-left: 2rem;
}

.availability-filters {
}

.availability-input-wrapper {
  /* max-height: 50px;
  border: 1em solid white; */
  padding: 11px 15px;
  border: 1px solid white;
  font-family: "Playfair Display", serif;
  /* display: inline-block; */
  position: relative;
  border-radius: 0.5em;
}

.availability-dropdown {
  /* width: 150px;
  background-color: antiquewhite;
  padding: 0.5em; */
  display: none;
  position: absolute;
  z-index: 1;
  padding-top: 15px;
  margin-left: -30px;
  text-align: left;
}

.availability-input-wrapper:hover .availability-dropdown {
  display: block;
}

.navButton {
  width: 150px;
  background-color: white;
  /* cursor: pointer; */
  border-radius: 0.6em;
}
.availability-dropdown .navButton .radio-button {
  color: #070204;
  cursor: pointer;
}

/* //////////////////////////////////////////price-filter //////////////*/

.price-filter {
  padding: 11px 15px;
  border: 1px solid white;
  font-family: "Playfair Display", serif;
  /* display: inline-block; */
  position: relative;
  border-radius: 0.5em;
  margin-left: 0.5em;
}

.price-dropdown-menu {
  /* display: none; */
  background-color: #f1f1f1;
  position: absolute;
  z-index: 1;
  width: 300px;
  min-height: 150px;
  padding-top: 15px;
  margin-left: -20px;
  /* margin-top: 20px; */
  /* text-align: left; */
  border-radius: 0.6em;
}

/* .price-filter:hover .price-dropdown-menu {
  display: block;
} */

.price-dropdown-menu .price-title {
  background-color: rgb(68, 70, 70);
}

.price-min-dropdown {
  display: flex;
  justify-content: space-around;
  /* background-color: white; */
  /* cursor: pointer; */
  border-radius: 0.6em;
  /* position: relative; */
}

.price-range {
  position: relative;
}

.price-range-digits {
}

.range-dropdown {
  display: none;
  /* z-index: 2; */
  position: absolute;
  background-color: #ccc;
  width: 100px;
  border-radius: 0.5em;
  text-align: left;
}

.price-range:hover .range-dropdown {
  display: block;
}

/* .price-range-digits{
  display: none;
} */

/* /////////////////////////////////Bedroom & Bathroom////////*/

.room-filter {
  padding: 11px 15px;
  border: 1px solid white;
  font-family: "Playfair Display", serif;
  /* display: inline-block; */
  border-radius: 0.5em;
  margin-left: 0.5em;
}

.bed-bath-filter {
  display: none;
  background-color: #f1f1f1;
  position: absolute;
  z-index: 1;
  width: 300px;
  min-height: 150px;
  padding-top: 15px;
  margin-left: -20px;
  /* margin-top: 20px; */
  /* text-align: left; */
  border-radius: 0.6em;
}

/* .bed-room{
  display: none;
  position: absolute;
  width: 250px;
  background-color: #aca8a8;
} */

.room-filter:hover .bed-bath-filter {
  display: block;
}

.bed-bath-filter {
}

/* //////////////////////////////////Filter-Area///////////////////////////////// */
.filter-area-container {
  
}

.filter-area {
  width: 100px;
  height: 55px;
  padding: 11px 15px;
  border: 1px solid white;
  font-family: "Playfair Display", serif;
  position: relative;
  border-radius: 0.5em;
  margin-left: 0.5em;
}

.title-filter-area {
  text-align: center; /* Align text to center */
  line-height: 35px; /* Set line height equal to container height for vertical centering */
}

.filter-area-btn {  
  position: absolute;
  top: 1.3em;
  right: 0.1em;
  font-size: 10px;
  border: none;
  background-color: transparent;
}

.filter-area-dropdown-display {
  display: block;
  width: 180px;
  max-height: 140px;
  background-color: #f1f1f1;
  border-radius: 0.6em;
  position: absolute;
  z-index: 1;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
  margin-left: -30px;
}


/* /////////////////////////////////Square Area Range//////////////////////////////////////////// */

.square-range-dropdwon{
  width: 150px;
  margin-left: -30px;

}
/* //////////////////////////////////////////////////////// */

.main {
  margin-bottom: 30px;
}

.slide-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 30px;
}

.main-text h1 {
  /* margin-bottom: 50px; */
}

.landing-gallery-wrapper {
  display: flex;
  align-items: center;
}

.landing-gallery-text {
  margin-right: 25px;
}

.landing-gallery {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin: 30px 0;
  box-sizing: border-box;
  height: auto;
  flex: 1;
}

.landing-gallery_item {
  scroll-snap-align: start;
  min-width: 35%;
}

.landing-gallery_image {
  border-top-left-radius: 200px; /* Adjust the radius as needed */
  border-top-right-radius: 200px; /* Adjust the radius as needed */
  width: 100%;
  max-height: 200px;
  /* object-fit: cover; */
}

p {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.cards-wrapper {
  background-color: rgb(249, 249, 251);
  min-height: 500px;
  margin: 30px 0;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 50px;
  text-decoration: none;
}

.cards-link {
  color: #ffffff;
}

.card-buy {
  background-image: url("../public/images/house-buy.jpeg");
  background-size: cover;
  background-position: bottom;
  min-height: 400px;
  margin-top: 30px;
  width: 25%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card-sell {
  background-image: url("../public/images/house-sell.jpeg");
  background-size: cover;
  background-position: bottom;
  min-height: 400px;
  margin-top: 30px;
  width: 25%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card-rent {
  background-image: url("../public/images/house-rent.jpeg");
  background-size: cover;
  background-position: bottom;
  min-height: 400px;
  margin-top: 30px;
  width: 25%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card-buy,
.card-sell,
.card-rent {
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
}

.main-contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 1; */
  margin: 0 1rem;
}

.contact-us-info {
  text-align: center;
  margin: 0 3rem;
}

.contact-us-img > img {
  border-radius: 170px 10px;
}

.container-houses {
  min-height: 300px;
  margin: 70px 20px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.house-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 16px;
}

.card-container {
  border-radius: 0.5rem;
  width: 32.5%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  box-sizing: border-box;
}

.house-cards-like {
  color: black;
}

.card-img {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 200px;
  position: relative;
}

.card-img > img {
  display: block;
  width: 100%;
  max-height: 200px;
  /* transition: 200ms transform ease-in-out; */
}

.icon::before {
  /* font-size: 1.5em;
  position: absolute;
  right: 1em;
  top: .5em; */
  /* color: red; */
}

.btn-faHeart {
  font-size: 1.2rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  color: black;
  border: none;
  background: none;
  cursor: pointer;
}
.card-img-text {
  font-size: 0.75rem;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  color: #ffffff;
  background-color: rgba(35, 26, 26);
  padding: 0.01em 0.3em;
  border-radius: 1em;
}

.for-rent-icon {
  position: absolute;
  left: 1em;
}

.card-img > img,
.faHeart {
  /* transition: 200ms transform ease-in-out; */
}

.card-container:hover {
  transform: scale(1.025);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.637);
}

.card-body {
  --padding: 0 0.4rem;
  padding-top: 1.2rem;
  background-color: aliceblue;
}

.card-body h1,
.card-body p {
  line-height: 1.3rem;
  padding: var(--padding);
}

.card-info {
  display: flex;
}

.card-info p {
  padding-right: 1rem;
}

/* //////////////////////-Details page-//////////////////////////////////////// */

.details-container {
  width: 100%;
  height: 100%;
}

.details-wrapper {
  margin-top: 70px;
}

.house-details {
  display: flex;
}

/* ///-gallary Swiper-///*/

body.active-modal {
  overflow-y: hidden;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.overlay {
  background: rgba(0, 0, 0, .9);
}


.modal-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 100%;
  min-width: 300px;
  max-height: 90%;
  z-index: 1000;
  /* background: rgba(0, 0, 0, 0.8); */
}

.modal-content .swiper {
  width: 100%;
  height: 100%;
}

.modal-content .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal-content .swiper {
  width: 60%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.modal-content .swiper-slide {
  background-size: cover;
  background-position: center;
}

.modal-swiper-large .swiper-slide img {
  display: block;
  width: 60%;
  height: 40%;
}

.modal-content .modal-swiper-large {
  height: 80%;
  width: 100%;
}

.modal-content .small-modal-swiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.small-modal-swiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.small-modal-swiper .swiper-slide-thumb-active {
  opacity: 1;
}

.small-modal-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.close-modal {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 5px 7px;
  background-color: transparent;
  border: none;
  color: white;
  /* z-index: 2; */
}
/* ///////////////////////////////////////// */
.gallary-swiper-img {
  max-width: 900px;
  max-height: 600px;
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* color: #000; */
  margin: 0;
  padding: 0;
}

.gallary-swiper-img .swiper {
  width: 100%;
  height: 100%;
}

.gallary-swiper-img .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.gallary-swiper-img .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.gallary-swiper-img .swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallary-swiper-img .mySwiper2 {
  height: 80%;
  width: 100%;
}

.gallary-swiper-img .mySwiper-gallery {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper-gallery .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper-gallery .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

/* //////////// */
.house-details-box {
  width: 350px;
  max-height: 400px;
  margin-top: 80px;
  margin-left: 5rem;
  /* margin-right: 5rem; */
  text-align: left;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 20px;
  background-color: #ffffff;
  /* flex: 1; */
}

.house-address-price {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details-text {
  font-size: 2rem;
}

.room-details-wrapper {
  display: flex;
  margin-top: 5rem;
}

.rooms-text {
  padding-left: 1em;
}

.general-house-title {
  text-align: center;
  margin: 2rem 0;
}
.general-house-title h1 {
  line-height: 0.9rem;
}
.check .button-hide-show {
}

.house-info {
  display: flex;
}

.info-details {
  width: 350px;
  box-sizing: border-box;
  /* max-height: auto; */
  margin-top: 80px;
  margin-left: 5rem;
  /* margin-right: 5rem; */
  text-align: left;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 20px;
  background-color: #ffffff;
}

.button {
  background: none;
  border: none;
  padding: 10px 20px; /* Add padding to create a clickable area */
  cursor: pointer;
}

/* ///-Swiper-///*/
.cards-swiper-container {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.cards-swiper-container .swiper {
  width: 75%;
  padding: 50px 0;
}

.cards-swiper-container .swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 300px;
  max-height: 300px;
  margin: 50px 0;
}

.swiper-slide .swiper-img {
  display: block;
  width: 100%;
  height: 300px;
}

.details-card-wrapper {
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  /* border-radius: 10px; */
  border-top-left-radius: 200px; /* Adjust the radius as needed */
  border-top-right-radius: 200px; /* Adjust the radius as needed */
  overflow: hidden;
  margin-bottom: 4rem;
}

.details-card-wrapper .details-card {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /*Full width Some padding */
}

.details-card {
  padding: 10px;
}

.swiper-img:hover {
  transform: scale(1.025);
}

/* .details-card-wrapper h2{

padding-left: 10px;
line-height: .3em;

} */

.details-card-wrapper p {
  line-height: 0.3em;
}

/* ///////////////////////////------houseFrom-input------////////////////// */

.checkllll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 80px 0;
  font-family: "Roboto", sans-serif;
}

.house-form-heading {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.607);
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 700px;
  min-height: 600px;
  border-radius: 15px;
  box-shadow: 0 2px 55px 0 rgba(0, 0, 0, 0.2);
  background-color: #aca8a8;
}

.form-wrapper {
  width: 500px;
  margin: 20px 0;
  /* background-color: #0e0101; */
}

.inputwrapper {
  margin: 0.5rem 3rem 0 0;
  position: relative;
}

.inputwrapper-numbers {
  display: flex;
  flex-wrap: wrap;
}

.inputwrapper-dropdown {
  display: none;
}

.house-Type-btn {
  position: absolute;
  right: 0.1em;
}

.inputwrapper-dropdown-display {
  display: block;
  width: 180px;
  max-height: 140px;
  background-color: #cbc0c0f6;
  border-radius: 0.6em;
  position: absolute;
  /* right: .1em; */
  z-index: 1;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  overflow: auto;
}

input[type="text"],
textarea {
  width: 100%;
  padding-left: 0.4rem;
  border-radius: 0.4rem;
}

.inputwrapper-radio {
  display: flex;
}

input[type="radio"] {
  /* margin-left: 10px; */
  margin: 0 0.5em;
}

input[type="number"] {
  width: 75%;
  padding-left: 0.4rem;
  border-radius: 0.3rem;
}

.uploaded-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding-top: 0.5em;
  max-width: 400px;
}

.uploaded-img > li > img {
  width: 60px;
  height: 40px;
  margin-right: 0.4em;
  margin-top: 0.2em;
  border-radius: 0.4em;
}

.button-house-form {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.607);
}

.button-house-form > button {
  margin-top: 1em;
  border: 1px solid white;
  border-radius: 1.6em;
  padding: 0.7em 3.5em;
  /* margin-left: 20px; */
  cursor: pointer;
}

.button-house-form > button:hover {
  background-color: rgba(85, 84, 82, 0.755);
  transition-duration: 1s;
}

/* ///////////////////////////////Login&Signup form///////////////////////////// */

.login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 100px 0 0 500px;
}

.login-container > h1{
  color: white;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%; 
  padding: 60px 50px 0 0;
  box-shadow: 0 0 20px  black;
  transition: box-shadow .5s ease-out;
  background-color: #eee;
  border: 1px solid transparent;
  border-radius: 30px;
  background-color: #ececec;
  overflow-y: hidden;
}

.auth-wrapper:hover {
  box-shadow: 0 0 20px  rgba(255, 255, 255, 0.637);
}

.auth-wrapper h1 {
  padding-bottom: 40px;
  margin-top: -10px;
  font-weight: bold;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.301);
}

.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  width: 80%;

}

.auth-form label {
  width: 100%;
  font-weight: 400;
  font-size: 20px;
  color: #070202;
}

.auth-form input {
  width: 100%;
  height: 50px;
  padding: 5px;
  border-radius: 15px;
}

.btn-container {
  width: 100%;
  margin-bottom: .5rem;
}
.btn-form {
  color: var(--text-white);
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.logIn {
  background: var(--primary-btn);
  padding: 10px;
  margin-left: 100px;
  color: #000;
}
.register {
  background: var(--secundary-btn);
  margin-left: 100px;
  color: #000;
}
.logout {
  border-top: 1px solid var(--modal-form-bg);
  margin-top: .2rem;
  padding-left: 50px;
}

/* ////////////////////////////////////////////// */
/* .container-houses {
  min-height: 100%;
  margin-top: 5rem;
}

.house-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
  max-height: 200px;
  margin: 0 2rem;
}

.card-container {
  --padding: 1rem;
  background-color: white;
  border-radius: 0.25rem;
  overflow: hidden;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
  padding: var(--padding);
  padding-bottom: 0;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  overflow: hidden;
}

.card-img > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card-body {
  font-size: 0.9rem;
  padding: 0 var(--padding);
}

.card-info {
  display: flex;
} */

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(249, 249, 251);
  padding: 2em 4em;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links > a {
  margin-top: 1rem;
}

.social-media > a {
  margin-top: 1rem;
}