body {
  font-family: "Abril Fatface", cursive;
  /* background-color: bisque; */
  color: black;
  background-color: rgb(237, 231, 230);
}

a {
  text-decoration: none;
  color: rgb(185, 181, 181);
}

/* .nav-container{
 margin-bottom: 80px;
} */

.dropdown-menu {
  margin-left: -30px;
  text-align: center;
}

.landing-container {
}

.header {
  --bg-image: url("../public/images/house-unsplash.jpeg");
  --bg-image-opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  margin: 0 auto;
  position: relative;
  isolation: isolate;
}

.header::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: var(--bg-image-opacity);
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.main {
  margin-bottom: 30px;
}

.slide-listing {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 30px;
}

.main-text h1 {
  /* margin-bottom: 50px; */
}

.landing-gallery-wrapper {
  display: flex;
  align-items: center;
}

.landing-gallery-text {
  margin-right: 25px;
}

.landing-gallery {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  column-gap: 20px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin: 30px 0;
  box-sizing: border-box;
  height: auto;
  flex: 1;
}

.landing-gallery_item {
  scroll-snap-align: start;
  min-width: 35%;
}

.landing-gallery_image {
  border-top-left-radius: 200px; /* Adjust the radius as needed */
  border-top-right-radius: 200px; /* Adjust the radius as needed */
  width: 100%;
  max-height: 200px;
  /* object-fit: cover; */
}

p {
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

.cards-wrapper {
  background-color: rgb(249, 249, 251);
  min-height: 500px;
  margin: 30px 0;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0 50px;
  text-decoration: none;
}

.cards-link {
  color: #ffffff;
}

.card-buy {
  background-image: url("../public/images/house-buy.jpeg");
  background-size: cover;
  background-position: bottom;
  min-height: 400px;
  margin-top: 30px;
  width: 25%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card-sell {
  background-image: url("../public/images/house-sell.jpeg");
  background-size: cover;
  background-position: bottom;
  min-height: 400px;
  margin-top: 30px;
  width: 25%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card-rent {
  background-image: url("../public/images/house-rent.jpeg");
  background-size: cover;
  background-position: bottom;
  min-height: 400px;
  margin-top: 30px;
  width: 25%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.228);
}

.card-buy,
.card-sell,
.card-rent {
  padding: 30px 30px 20px 30px;
  box-sizing: border-box;
}

.main-contact-us {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 1; */
  margin: 0 1rem;
}

.contact-us-info {
  text-align: center;
  margin: 0 3rem;
}

.contact-us-img > img {
  border-radius: 170px 10px;
}

.container-houses {
  min-height: 300px;
  margin: 70px 20px 20px 20px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.house-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap:16px;
}

.card-container {
  border-radius: 0.5rem;
  width: 32.5%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  box-sizing: border-box;
}

.house-cards-like{
  color: black;
}

.card-img {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.card-img > img {
  display: block;
  width: 100%;
  max-height: 200px;
  /* transition: 200ms transform ease-in-out; */
}

.icon::before {
  /* font-size: 1.5em;
  position: absolute;
  right: 1em;
  top: .5em; */
  /* color: red; */
}

.btn-faHeart{
  font-size: 1.2rem;
  position: absolute;
  right: 1rem;
  top: .5rem;
  color:black;
  border: none;
  background: none;
  cursor: pointer;
}
.card-img-text{
  font-size: .75rem;
  position: absolute;
  left: 1rem;
  top: .5rem;
  color: #ffffff;
  background-color: rgba(35, 26, 26);
  padding: .01em .3em ;
  border-radius: 1em;
}

.for-rent-icon {
  position: absolute;
  left: 1em;
}

.card-img > img,
.faHeart {
  /* transition: 200ms transform ease-in-out; */
}

.card-container:hover {
  transform: scale(1.025);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  --padding: 0 0.4rem;
  padding-top: 1.2rem;
  background-color: aliceblue;
}

.card-body h1,
.card-body p {
  line-height: 1.3rem;
  padding: var(--padding);
}

.card-info {
  display: flex;
}

.card-info p {
  padding-right: 1rem;
}

/* //////////////////////Details page//////////////////////////////////////// */

.details-wrapper{
  margin-top: 70px;
}

.house-details{
  display: flex;
}

/* ////////gallary Swiper /////*/
.gallary-swiper-img{
  max-width: 900px;
  max-height: 600px;
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  /* color: #000; */
  margin: 0;
  padding: 0;
}

.gallary-swiper-img .swiper {
  width: 100%;
  height: 100%;
}

.gallary-swiper-img .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.gallary-swiper-img .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.gallary-swiper-img .swiper-slide {
  background-size: cover;
  background-position: center;
}

.gallary-swiper-img .mySwiper2 {
  height: 80%;
  width: 100%;
}

.gallary-swiper-img .mySwiper-gallery {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper-gallery .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper-gallery .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiper-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}



/* ///////// */
.house-details-box{
  width: 350px;
  max-height: 400px;
  margin-top: 80px;
  margin-left: 5rem;
  /* margin-right: 5rem; */
  text-align: left;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 20px;
  background-color: #ffffff;
  /* flex: 1; */
}

.house-address-price{
  border-bottom:1px solid rgba(0, 0, 0, .1);
}

.details-text{
  font-size: 2rem;
}

.room-details-wrapper{
  display: flex;
  margin-top: 5rem;
}

.rooms-text{
  padding-left: 1em;
}

.general-house-title{
  text-align: center;
  margin: 2rem 0 ;
}
.general-house-title h1{
  line-height: .9rem;
}
.check .button-hide-show{
  
}

.house-info{
  display: flex;
}

.info-details{
  width: 350px;
  box-sizing: border-box;
  /* max-height: auto; */
  margin-top: 80px;
  margin-left: 5rem;
  /* margin-right: 5rem; */
  text-align: left;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 20px;
  background-color: #ffffff;
}

.button{
    background: none;
    border: none;
    padding: 10px 20px; /* Add padding to create a clickable area */
    cursor: pointer; 
}

/* /////////Swiper/////////*/
.cards-swiper-container{
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.cards-swiper-container .swiper {
  width: 75%;
  padding: 50px 0;
}

.cards-swiper-container .swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 300px;
  max-height: 300px;
  margin: 50px 0;
}

.swiper-slide .swiper-img {
  display: block;
  width: 100%;
  height: 300px;
}

.check {
  position: relative;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 4rem;
}

.check .check2 {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */ /* Some padding */
}


.check h2{

padding-left: 10px;
line-height: .3em;

}

.check p{
  padding-left: 10px;

}



/* ///////////////////////////------From------////////////////// */
.form-wrapper{
  display: flex;
  /* justify-content: space-evenly; */
  margin: 25px;
}
.input-wrapper {
  margin-right: 25px;
  
}
input[type="text"]{
  box-sizing: border-box;
}

/* .container-houses {
  min-height: 100%;
  margin-top: 5rem;
}

.house-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  align-items: flex-start;
  max-height: 200px;
  margin: 0 2rem;
}

.card-container {
  --padding: 1rem;
  background-color: white;
  border-radius: 0.25rem;
  overflow: hidden;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-img {
  padding: var(--padding);
  padding-bottom: 0;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  overflow: hidden;
}

.card-img > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.card-body {
  font-size: 0.9rem;
  padding: 0 var(--padding);
}

.card-info {
  display: flex;
} */

footer {
  background-color: rgb(249, 249, 251);
  padding: 2em 4em;
}

.footer-container {
  display: flex;
  flex-direction: column;
}
.footer-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: left;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links > a {
  margin-top: 1rem;
}

.social-media > a {
  margin-top: 1rem;
}


/* img {
  vertical-align: middle;
}

Position the image container (needed to position the left and right arrows)
.containerr {
  position: relative;
}

Hide the images by default
.mySlides {
  display: none;
}

Add a pointer when hovering over the thumbnail images
.cursor {
  cursor: pointer;
}

Next & previous buttons
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

Position the "next button" to the right
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

On hover, add a black background color with a little bit see-through
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

Number text (1/3 etc)
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

Container for image text
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

Six columns side by side
.column {
  float: left;
  width: 16.66%;
}

Add a transparency effect for thumnbail images
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
} */